<div class="container"
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign.gt-md="space-around center"
	fxLayoutGap="10px" 
	fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish">
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </md-card-title>
            </md-card-header>
            <img md-card-image src={{dish.image}}>
            <md-card-content>
                <span>{{dish.description}}</span>
            </md-card-content>
            <md-card-actions>
                <button md-button [routerLink]="['/dishdetail', prev]">
                    <span class="fa fa-chevron-left fa-lg"></span>
                </button>
                <button md-button (click)="goBack()">BACK</button>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button md-button [routerLink]="['/dishdetail', next]">
                    <span class="fa fa-chevron-right fa-lg"></span>
                </button>
            </md-card-actions>
        </md-card>
    </div>
    <div [hidden]="dish">
        <md-spinner></md-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>

    <div fxFlex="40" *ngIf="dish">
        <md-list>
            <h3>Comments</h3>
            <md-list-item *ngFor="let comment of dish.comments">
                <p md-line>{{comment.rating}}</p>
                <p md-line>{{comment.comment}}</p>
                <p md-line>{{comment.author}}</p>
                <p md-line>-- {{comment.date | date}}</p>
            </md-list-item>
            <md-list-item *ngFor="let comment of commentInputArray">
                <p md-line>{{comment.rating}}</p>
                <p md-line>{{comment.comment}}</p>
                <p md-line>{{comment.author}}</p>
                <p md-line>-- {{comment.date | date}}</p>
            </md-list-item>
        </md-list>
        <md-list >
            <md-list-item>
                <span [hidden]="commentForm.invalid">
                    <p md-line>{{commentInput.rating}}</p>
                    <p md-line>{{commentInput.comment}}</p>
                    <p md-line>{{commentInput.author}}</p>
                </span>
            </md-list-item>
        </md-list>
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <p>
                <md-input-container dividerColor="{{ formErrors.author ? 'warn' : 'primary'}}">
                    <input mdInput formControlName="author" placeholder="Name" type="text" required [(ngModel)]="commentInput.author">
                    <md-hint>
                        <span [hidden]="!(formErrors.author)">
                            {{formErrors.author}}
                        </span>
                    </md-hint>
                </md-input-container>
            </p>
            <table>
                <td>
                    <md-slider formControlName="rating" thumbLabel tickInterval="1" min="1" max="5" [(ngModel)]="commentInput.rating"></md-slider>
                </td>
            </table>
            <p>
                <md-input-container dividerColor="{{ formErrors.comment ? 'warn' : 'primary'}}">
                    <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required [(ngModel)]="commentInput.comment"></textarea>
                    <md-hint>
                        <span [hidden]="!(formErrors.comment)">
                            {{formErrors.comment}}
                        </span>
                    </md-hint>
                </md-input-container>
            </p>
            <button type="submit" md-button class="background-primary text-floral-white"
            [disabled]="commentForm.invalid">Submit</button>
        </form>
    </div>
    <div [hidden]="dish">
        <md-spinner></md-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>

</div>